.block-reztrip * {
    box-sizing: border-box;
}

.block-reztrip h2 {
    font-size: 18px;
    text-align: center;
    margin: 0 0 5px;
}

.block-reztrip .form-item input,
.block-reztrip .form-item select,
.block-reztrip .form-item button {
    font-size: 12px;
}

.block-reztrip .form-item input,
.block-reztrip .form-item select {
    width: 92px;
    height: 26px;
    padding: 0 5px;
}

.block-reztrip .form-item {
    float: left;
    margin: 0 3px 0 0;
}

.block-reztrip .form-submit {
    float: left;
    margin: 0 3px 0 0;
    padding: 0 5px;
    height: 26px;
    border: none;
    cursor: pointer;
}

.block-reztrip .form-submit:last-child {
    margin: 0;
}

